.ItemAlunoBoletim{
    margin-top: 16px;
}

.Form-Boletim{
    display: flex 1;
    width: 100%;
}

.Form-Boletim-part1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Form-Boletim-part2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Input-boletim{
    width: 100%;
}