.header-table-b{
   margin-bottom: 1rem;
}

.right-header-boletim {
   display: flex;
   justify-content: space-between;
   width: 100%;

   gap: 0.5rem;
}

.adicionar-boletim{
   width: 300px;
   background-color: #000000;
   color: #fff;
   border: 0;
   border-radius: 0.25rem;
   padding: 0.490rem 0.10rem;
   transition-duration: 0.4s;
   text-decoration: none;
}

.link-btn-add-boletim{
   /* width: 700px; */
   
   display: flex;
   justify-content: flex-end;
   text-decoration: none;
}

/* Searchbar */
/* .searchbar {
   display: flex;
   align-items: center;
   width: min-content;
   border: 1px solid #9E9E9E;
   border-radius: 4px;
   padding: 0 10 0 10;
   gap: 5px;
}

.searchbar span {
   color: #9E9E9E;
}

.searchbar .search {
   outline: none;
   border: none;
   height: 40px;
}



.header-table .table-btn {
   background-color: white;
   border: 1px solid #0000002a;
   color: #232222;
   font-weight: bolder;

   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.header-table .table-btn:hover {
   background-color: #eee;
}

.header-table .left-header {
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 0.5rem;
}


.header-table .left-header .add-aluno-btn {
   background-color: #1C1B1F;

   color: white;
   text-decoration: none;

   display: flex;
   align-items: center;
   gap: 1rem;

   border: 0;

   padding: 10px 16px;

   border-radius: 4px;
   font-weight: bold;
   font-size: 0.9rem;
}

.header-table .filtro-btn {
   width: 130px;

   display: flex;
   justify-content: space-between;
}


#filter {
   padding: 8px 8px;
   padding-right: 25px;
   border-radius: 4px;
   background-color: #fff;
   background-image: url(../../../../tune.svg);
   background-repeat: no-repeat;
   width: 130px;
   background-position: 98% 50%;
   outline: none;
}

#filter,
#filter>option {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   border: 1px solid #9E9E9E;
} */