/* .table_.disciplina_{
   width: 380px;
} */

.status-aluno{
   font-size: 0.9rem;
   padding: 0.4rem;
   border-radius: 6px;
}

.status-aluno.true{
   background-color: #EBF9F1;
   color: #1F9254;
}

.status-aluno.false{
   background-color: #FEF2E5;
   color: #CD6200;
}

.disciplina_ th{
   min-width: 90px !important;
}

.disciplina_ .link_{
   text-decoration: none;
   color: #313133;
}