td{
   font-weight: 500;
}

th{
   font-weight: 800;
}

.table{
   --bs-table-striped-bg: #F7F6FE;
   --bs-table-bg: #fff;
}

.options-btn{
   background-color: transparent;
   border: 0;

   color: #1C1B1F;

   
}


.status-aluno{
   font-size: 0.9rem;
   padding: 0.4rem;
   border-radius: 6px;
}

.status-aluno.true{
   background-color: #EBF9F1;
   color: #1F9254;
}

.status-aluno.false{
   background-color: #FEF2E5;
   color: #CD6200;
}



.item-disciplina-table tr:hover{
   cursor: pointer;
   --bs-table-accent-bg: #c4cbe9 !important;
   --bs-table-striped-bg: #c4cbe9 !important;
}

.item-disciplina-table tr.active{
   --bs-table-accent-bg: #DFE3F5;
   --bs-table-striped-bg: #DFE3F5;
}