
.content-matricula{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
    min-height: 500px;
}


.container-botao {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.material-symbols-rounded.flecha {
    font-size: 30px;
}

/* .breakline{
    width: 95%;
    margin: auto;
    margin-top: 1rem;
} */

/* Step--Forms*/
.form{
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    gap:3rem;
    padding: 20px 0px 0px 0px;
    border-top: 1px solid #cccccc;
}

.menu-disciplina{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: min-content;
    padding: 5px;
    gap: 5px;
}

.menu-disciplina .btn-dis{
    color: #303030;
    font-weight: 400;
    height: 50px;
    background-color: #fff;
    border: 1.5px solid #9E9E9E;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
}

.menu-disciplina .btn-hover:hover{
    background-color: #e5e3f1;
}


.btn-dis.active {
    background-color: #111;
    color: white;
}

.form-disciplina{
    flex: 1;
}

/* Horário */
.section-hr{
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 15px;
}
