.modal{
   display: block;

   width: 100vw;
   height:100vh;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;

   display: flex;
   justify-content: center;

   background-color: #00000040;
}

.modal-hidden{
   display: none;
}