@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}


/* Alinhamento */
.container-main {
  margin: 50px 150px;
}

/* -- da tabela */

.content-tables {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.table_ .item-table tr:hover {
  cursor: pointer;
  background-color: #e5e3f1;
  transition: 0.2s;
}

.table_ .item-table tr.active{
  background-color: #c5c5d8;
  transition: 0.2s;
}

/* Título das páginas */

.page-title {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.page-title .title_ {
  color: #242424;
}

.page-title .subtitle_ {
  font-weight: 500;
  color: #4D4D4D;
}

.page-title.head-matricula {
  flex-direction: row;
  justify-content: space-between;
}

.titles {
  display: flex;
  flex-direction: column;
}

/* .active {
  background-color: #000 !important;
} */

/* Cabeçalho das tabelas */
.header-table {
  display: grid;
  grid-template-columns: 1fr 50%;
  margin: 20px 0;
}

.header-table .right-header {
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 0.5rem;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  margin: 0;
}

td {
  font-weight: 500;
}

th {
  font-weight: 800;
}

/* Searchbar */
.searchbar {
  display: flex;
  align-items: center;
  width: min-content;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  padding: 0 10 0 10;
  gap: 5px;
}

.searchbar span {
  color: #9E9E9E;
}

.searchbar .search {
  outline: none;
  border: none;
  height: 40px;
}

/* Header das tabelas */

.header-table .table-btn {
  background-color: white;
  border: 1px solid #0000002a;
  color: #232222;
  font-weight: bolder;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-table .table-btn:hover {
  background-color: #eee;
}

.header-table .left-header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}


.header-table .left-header .add-aluno-btn {
  background-color: #1C1B1F;

  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 1rem;

  border: 0;

  padding: 10px 16px;

  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9rem;
}

.header-table .filtro-btn {
  width: 130px;

  display: flex;
  justify-content: space-between;
}



/* Tabelas */




/* Botões */
/* -- Confirmar */

/* -- Cancelar */